:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #b406e0 #d688e9 ;
    --cor-de-fundo: #000000;
    --fonte-principal:'Abel';
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal) ;
    font-size: 24px;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("imagem.filmes.png");
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: 525px 1px;
    
}
.posiciona-imagem {
   position: absolute;
   top: 20%;
   left: 18%;
   transform: translate(-50%, -50%);
}

.container {
    height: 100vh;
}

.botao {
    position: absolute;
    top: 45%;
    left: 17%;
    transform: translate(-50%, -50%);

}
.frase {
    position: absolute;
   top: 57%;
   left: 17%;
   transform: translate(-50%, -50%);
    font-family: var(--fonte-principal) ;
    font-size: 14px;
    font-weight: 400;
}

.pessoaassistindo {
    position: absolute;
    top: 150%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.frase1{
    position: absolute;
    top: 145%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family: var(--fonte-principal) ;
    font-size: 20px;
    font-weight: 400;
}
.frase3{
    position: absolute;
    top: 130%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: var(--fonte-principal) ;
    font-size: 35px;
    font-weight: 400;
}
.rodape{

    background-color: #1f0425 ;
    transform: translate(-50%, -50%);
  
}
.rodapelink{
    font-family: var(--fonte-principal) ;
    font-size: 10px;
    font-weight: 400;  
    color:#C0C0C0 ; 
    text-decoration: none;   
}
